{% extends 'base.html.twig' %}
{% block content %}
    <h3>{{ form_title }}</h3>
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </form>
{% endblock %}