{% extends 'layout.html.twig' %}
{% block content %}
    {% if app.user %}

        <h3>Sign up</h3>
    <hr/>
    <form action="" method="post" {{ form_enctype(signup_form) }}>
        {{ form_widget(signup_form) }}
        {{ form_errors(signup_form) }}
    </form>
    {% endif %}
{% endblock %}