{% extends 'layout.html.twig' %}
{% block content %}
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <h3>Sign up</h3>
    <hr/>
    <form action="" method="post" {{ form_enctype(signup_form) }}>
        {{ form_widget(signup_form) }}
        {{ form_errors(signup_form) }}
    </form>
</div>
{% endblock %}